# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
local_settings.py
settings.py

# Database
db.sqlite3

# Log files
*.log

# Media files
media/

# Compiled Python files
*.pyc

# IDE-specific files
.idea/
.vscode/

# Migrations directory
*/migrations/

# Master login
*.bat

# gcloud configuration files
.gcloudignore
app.yaml

# virtual environment
/Project3_11/env

#test