{% extends 'base.html' %}
{% block content %}
    <h2>Add A Menu Item</h2>
    {% block menu_item_content %}
        <form method="POST" action="{% url 'submit_menu_item_addition' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                <tr>
                    <th>Trait</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>Item Name</td>
                    <td><input required type="text" name="item_name"></td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td><input required type="number" name="price" step="0.01" min="0" placeholder="{{ menu_item.Price }}"></td>
                </tr>
                <tr>
                    <td>Definite Items</td>
                    <td>
                        <table>
                            <thead>
                                <tr>
                                    {% for category in categories %}
                                        <th>{{ category }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in sorted_inventory %}
                                    <tr>
                                        {% for item_name in row %}
                                            {% if item_name == "" %}
                                                <td></td>
                                            {% else %}
                                                <td>
                                                    {% if item_name in menu_item.DefiniteItems %}
                                                        <input type="checkbox" id="{{ menu_item.ItemName }}_{{ item_name }}" name="selected_definite_items" value="{{ item_name }}" checked>
                                                    {% else %}
                                                        <input type="checkbox" id="{{ menu_item.ItemName }}_{{ item_name }}" name="selected_definite_items" value="{{ item_name }}">
                                                    {% endif %}
                                                    <label for="{{ menu_item.ItemName }}_{{ item_name }}">{{ item_name }}</label>
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>Possible Items</td>
                    <td>
                        <table>
                            <thead>
                                <tr>
                                    {% for category in categories %}
                                        <th>{{ category }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in sorted_inventory %}
                                    <tr>
                                        {% for item_name in row %}
                                            {% if item_name == "" %}
                                                <td></td>
                                            {% else %}
                                                <td>
                                                    {% if item_name in menu_item.PossibleItems %}
                                                        <input type="checkbox" id="{{ menu_item.ItemName }}_{{ item_name }}" name="possible_items_selected" value="{{ item_name }}" checked>
                                                    {% else %}
                                                        <input type="checkbox" id="{{ menu_item.ItemName }}_{{ item_name }}" name="possible_items_selected" value="{{ item_name }}">
                                                    {% endif %}
                                                    <label for="{{ menu_item.ItemName }}_{{ item_name }}">{{ item_name }}</label>
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
            <button type="submit" name="passed_menu_item">Submit Item</button>
        </form>
    {% endblock %}
{% endblock %}