<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders Screen</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">

</head>
<body>
    <nav class="navbar navbar-light bg-dark justify-content-between">
        <a class="navbar-brand">Navbar</a>
        <img src="data:image/png;base64,{{ item.Image|safe }}" alt="Pom and Honey Logo" width=50px height=50px>
        <form class="form-inline" method="post" action="{% url 'set_language' %}">
            {% csrf_token %}
            <select class="form-control dropdown-item bg-light" name="language">
                <option value="en"{% if target_language == "en" %} selected{% endif %}>English</option>
                <option value="af"{% if target_language == "af" %} selected{% endif %}>Afrikaans</option>
                <option value="ak"{% if target_language == "ak" %} selected{% endif %}>Akan</option>
                <option value="sq"{% if target_language == "sq" %} selected{% endif %}>Albanian</option>
                <option value="am"{% if target_language == "am" %} selected{% endif %}>Amharic</option>
                <option value="ar"{% if target_language == "ar" %} selected{% endif %}>Arabic</option>
                <option value="hy"{% if target_language == "hy" %} selected{% endif %}>Armenian</option>
                <option value="as"{% if target_language == "as" %} selected{% endif %}>Assamese</option>
                <option value="ay"{% if target_language == "ay" %} selected{% endif %}>Aymara</option>
                <option value="az"{% if target_language == "az" %} selected{% endif %}>Azerbaijani</option>
                <option value="bm"{% if target_language == "bm" %} selected{% endif %}>Bambara</option>
                <option value="eu"{% if target_language == "eu" %} selected{% endif %}>Basque</option>
                <option value="be"{% if target_language == "be" %} selected{% endif %}>Belarusian</option>
                <option value="bn"{% if target_language == "bn" %} selected{% endif %}>Bengali</option>
                <option value="bho"{% if target_language == "bho" %} selected{% endif %}>Bhojpuri</option>
                <option value="bs"{% if target_language == "bs" %} selected{% endif %}>Bosnian</option>
                <option value="bg"{% if target_language == "bg" %} selected{% endif %}>Bulgarian</option>
                <option value="ca"{% if target_language == "ca" %} selected{% endif %}>Catalan</option>
                <option value="ceb"{% if target_language == "ceb" %} selected{% endif %}>Cebuano</option>
                <option value="ny"{% if target_language == "ny" %} selected{% endif %}>Chichewa</option>
                <option value="zh"{% if target_language == "zh" %} selected{% endif %}>Chinese (Simplified)</option>
                <option value="zh-TW"{% if target_language == "zh-TW" %} selected{% endif %}>Chinese (Traditional)</option>
                <option value="co"{% if target_language == "co" %} selected{% endif %}>Corsican</option>
                <option value="hr"{% if target_language == "hr" %} selected{% endif %}>Croatian</option>
                <option value="cs"{% if target_language == "cs" %} selected{% endif %}>Czech</option>
                <option value="da"{% if target_language == "da" %} selected{% endif %}>Danish</option>
                <option value="dv"{% if target_language == "dv" %} selected{% endif %}>Divehi</option>
                <option value="doi"{% if target_language == "doi" %} selected{% endif %}>Dogri</option>
                <option value="nl"{% if target_language == "nl" %} selected{% endif %}>Dutch</option>
                <option value="eo"{% if target_language == "eo" %} selected{% endif %}>Esperanto</option>
                <option value="et"{% if target_language == "et" %} selected{% endif %}>Estonian</option>
                <option value="ee"{% if target_language == "ee" %} selected{% endif %}>Ewe</option>
                <option value="tl"{% if target_language == "tl" %} selected{% endif %}>Filipino</option>
                <option value="fi"{% if target_language == "fi" %} selected{% endif %}>Finnish</option>
                <option value="fr"{% if target_language == "fr" %} selected{% endif %}>French</option>
                <option value="fy"{% if target_language == "fy" %} selected{% endif %}>Frisian</option>
                <option value="gl"{% if target_language == "gl" %} selected{% endif %}>Galician</option>
                <option value="lg"{% if target_language == "lg" %} selected{% endif %}>Ganda</option>
                <option value="ka"{% if target_language == "ka" %} selected{% endif %}>Georgian</option>
                <option value="de"{% if target_language == "de" %} selected{% endif %}>German</option>
                <option value="gom"{% if target_language == "gom" %} selected{% endif %}>Goan Konkani</option>
                <option value="el"{% if target_language == "el" %} selected{% endif %}>Greek</option>
                <option value="gn"{% if target_language == "gn" %} selected{% endif %}>Guarani</option>
                <option value="gu"{% if target_language == "gu" %} selected{% endif %}>Gujarati</option>
                <option value="ht"{% if target_language == "ht" %} selected{% endif %}>Haitian Creole</option>
                <option value="ha"{% if target_language == "ha" %} selected{% endif %}>Hausa</option>
                <option value="haw"{% if target_language == "haw" %} selected{% endif %}>Hawaiian</option>
                <option value="iw"{% if target_language == "iw" %} selected{% endif %}>Hebrew</option>
                <option value="hi"{% if target_language == "hi" %} selected{% endif %}>Hindi</option>
                <option value="hmn"{% if target_language == "hmn" %} selected{% endif %}>Hmong</option>
                <option value="hu"{% if target_language == "hu" %} selected{% endif %}>Hungarian</option>
                <option value="is"{% if target_language == "is" %} selected{% endif %}>Icelandic</option>
                <option value="ig"{% if target_language == "ig" %} selected{% endif %}>Igbo</option>
                <option value="ilo"{% if target_language == "ilo" %} selected{% endif %}>Iloko</option>
                <option value="id"{% if target_language == "id" %} selected{% endif %}>Indonesian</option>
                <option value="ga"{% if target_language == "ga" %} selected{% endif %}>Irish</option>
                <option value="it"{% if target_language == "it" %} selected{% endif %}>Italian</option>
                <option value="ja"{% if target_language == "ja" %} selected{% endif %}>Japanese</option>
                <option value="jw"{% if target_language == "jw" %} selected{% endif %}>Javanese</option>
                <option value="kn"{% if target_language == "kn" %} selected{% endif %}>Kannada</option>
                <option value="kk"{% if target_language == "kk" %} selected{% endif %}>Kazakh</option>
                <option value="km"{% if target_language == "km" %} selected{% endif %}>Khmer</option>
                <option value="rw"{% if target_language == "rw" %} selected{% endif %}>Kinyarwanda</option>
                <option value="ko"{% if target_language == "ko" %} selected{% endif %}>Korean</option>
                <option value="kri"{% if target_language == "kri" %} selected{% endif %}>Krio</option>
                <option value="ku"{% if target_language == "ku" %} selected{% endif %}>Kurdish (Kurmanji)</option>
                <option value="ckb"{% if target_language == "ckb" %} selected{% endif %}>Kurdish (Sorani)</option>
                <option value="ky"{% if target_language == "ky" %} selected{% endif %}>Kyrgyz</option>
                <option value="lo"{% if target_language == "lo" %} selected{% endif %}>Lao</option>
                <option value="la"{% if target_language == "la" %} selected{% endif %}>Latin</option>
                <option value="lv"{% if target_language == "lv" %} selected{% endif %}>Latvian</option>
                <option value="ln"{% if target_language == "ln" %} selected{% endif %}>Lingala</option>
                <option value="lt"{% if target_language == "lt" %} selected{% endif %}>Lithuanian</option>
                <option value="lb"{% if target_language == "lb" %} selected{% endif %}>Luxembourgish</option>
                <option value="mk"{% if target_language == "mk" %} selected{% endif %}>Macedonian</option>
                <option value="mai"{% if target_language == "mai" %} selected{% endif %}>Maithili</option>
                <option value="mg"{% if target_language == "mg" %} selected{% endif %}>Malagasy</option>
                <option value="ms"{% if target_language == "ms" %} selected{% endif %}>Malay</option>
                <option value="ml"{% if target_language == "ml" %} selected{% endif %}>Malayalam</option>
                <option value="mt"{% if target_language == "mt" %} selected{% endif %}>Maltese</option>
                <option value="mni-Mtei"{% if target_language == "mni-Mtei" %} selected{% endif %}>Manipuri (Meitei Mayek)</option>
                <option value="mi"{% if target_language == "mi" %} selected{% endif %}>Maori</option>
                <option value="mr"{% if target_language == "mr" %} selected{% endif %}>Marathi</option>
                <option value="lus"{% if target_language == "lus" %} selected{% endif %}>Mizo</option>
                <option value="mn"{% if target_language == "mn" %} selected{% endif %}>Mongolian</option>
                <option value="my"{% if target_language == "my" %} selected{% endif %}>Myanmar (Burmese)</option>
                <option value="ne"{% if target_language == "ne" %} selected{% endif %}>Nepali</option>
                <option value="nso"{% if target_language == "nso" %} selected{% endif %}>Northern Sotho</option>
                <option value="no"{% if target_language == "no" %} selected{% endif %}>Norwegian</option>
                <option value="or"{% if target_language == "or" %} selected{% endif %}>Odia (Oriya)</option>
                <option value="om"{% if target_language == "om" %} selected{% endif %}>Oromo</option>
                <option value="ps"{% if target_language == "ps" %} selected{% endif %}>Pashto</option>
                <option value="fa"{% if target_language == "fa" %} selected{% endif %}>Persian</option>
                <option value="pl"{% if target_language == "pl" %} selected{% endif %}>Polish</option>
                <option value="pt"{% if target_language == "pt" %} selected{% endif %}>Portuguese</option>
                <option value="pa"{% if target_language == "pa" %} selected{% endif %}>Punjabi</option>
                <option value="qu"{% if target_language == "qu" %} selected{% endif %}>Quechua</option>
                <option value="ro"{% if target_language == "ro" %} selected{% endif %}>Romanian</option>
                <option value="ru"{% if target_language == "ru" %} selected{% endif %}>Russian</option>
                <option value="sm"{% if target_language == "sm" %} selected{% endif %}>Samoan</option>
                <option value="sa"{% if target_language == "sa" %} selected{% endif %}>Sanskrit</option>
                <option value="gd"{% if target_language == "gd" %} selected{% endif %}>Scots Gaelic</option>
                <option value="sr"{% if target_language == "sr" %} selected{% endif %}>Serbian</option>
                <option value="st"{% if target_language == "st" %} selected{% endif %}>Sesotho</option>
                <option value="sn"{% if target_language == "sn" %} selected{% endif %}>Shona</option>
                <option value="sd"{% if target_language == "sd" %} selected{% endif %}>Sindhi</option>
                <option value="si"{% if target_language == "si" %} selected{% endif %}>Sinhala</option>
                <option value="sk"{% if target_language == "sk" %} selected{% endif %}>Slovak</option>
                <option value="sl"{% if target_language == "sl" %} selected{% endif %}>Slovenian</option>
                <option value="so"{% if target_language == "so" %} selected{% endif %}>Somali</option>
                <option value="es"{% if target_language == "es" %} selected{% endif %}>Spanish</option>
                <option value="su"{% if target_language == "su" %} selected{% endif %}>Sundanese</option>
                <option value="sw"{% if target_language == "sw" %} selected{% endif %}>Swahili</option>
                <option value="sv"{% if target_language == "sv" %} selected{% endif %}>Swedish</option>
                <option value="tg"{% if target_language == "tg" %} selected{% endif %}>Tajik</option>
                <option value="ta"{% if target_language == "ta" %} selected{% endif %}>Tamil</option>
                <option value="zu"{% if target_language == "zu" %} selected{% endif %}>Zulu</option>
            </select>
            <input class="form-control mr-sm-2" type="submit" value="Submit">
        </form>

    </nav>

    <header>

    </header>
    {% block content %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
            integrity="sha384-qr+kzX9AdfeZvUDdZn2EuOXiTE1Fj4BvadPhM7NGuPbsUp4L4VvoABRTHC29++pK" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
</body>
</html>
