<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders Screen</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">

</head>
<body>
    <nav class="navbar navbar-light bg-dark justify-content-between">
        <a class="navbar-brand">Navbar</a>
        <img src="data:image/png;base64,{{ item.Image|safe }}" alt="Pom and Honey Logo" width=50px height=50px>
    </nav>

    <header>
        {% if weather %}
            <p>Current weather: {{ weather }}</p>
        {% endif %}
        {% load google_translate %}
        {% google_translate type='vertical' language='en' %}
    </header>

    <header>



    {% block content %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
            integrity="sha384-qr+kzX9AdfeZvUDdZn2EuOXiTE1Fj4BvadPhM7NGuPbsUp4L4VvoABRTHC29++pK" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
</body>
</html>
