{% extends 'base.html' %}

{% block content %}
    <h1>Order Total: {{ order_total }}</h1>
    <form method="post" action="{% url 'button_testing' %}">
        {% csrf_token %}
        <button type="submit" name="button_clicked" value="reset">Reset</button>
    </form>
    <br>
    {% for item in menu %}
        <form method="post" action="{% url 'button_testing' %}">
            {% csrf_token %}
            <button type="submit" name="item_clicked" value="{{ item.ItemName }}">{{ item.ItemName }}</button>
        </form>

        {# How to redirect to next page passing name of item to edit #}
        <form method="post" action="{% url 'button_testing_page2' %}">
            {% csrf_token %}
            <button type="submit" name="edit_item" value="{{ item.ItemName }}">Edit {{ item.ItemName }}</button>
        </form>
        <br>
    {% endfor %}
{% endblock %}
