{% extends "base.html" %}

{% block content %}
    <h1>{{ employee_header }}</h1>
        <table>
            <thead>
                <tr>
                    {% for e in employee_table_headers %}
                        <th>{{ e }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for employee in employees %}
                    <tr>
                        <td>{{ employee.EmployeeID }}</td>
                        <td>{{ employee.LastName }}</td>
                        <td>{{ employee.FirstName }}</td>
                        <td>{{ employee.HireDate }}</td>
                        <td>{{ employee.EmployeePIN }}</td>
                        <td>{{ employee.PositionTitle }}</td>
                        <td>{{ employee.HoursWorked }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <h1>{{ menu_header }}</h1>
        <table>
            <thead>
                <tr>
                    {% for m in menu_table_headers %}
                        <th>{{ m }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for menu_item in menu_items %}
                    <tr>
                        <td><img src="data:image/png;base64,{{ menu_item.Image|safe }}" alt="{{ menu_item.ItemName }}"></td>
                        <td>{{ menu_item.ItemName }}</td>
                        <td>{{ menu_item.Price }}</td>
                        <td>
                            {% for item in menu_item.DefiniteItems %}
                                {{ item }}{% if not forloop.last %}, {% endif %}
                            {%  endfor %}
                        </td>
                        <td>
                            {% for item in menu_item.PossibleItems %}
                                {{ item }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <h1>{{ inventory_header }}</h1>
        <table>
            <thead>
                <tr>
                    {% for i in inventory_table_headers %}
                        <th>{{ i }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for inventory_item in inventory_items %}
                    <tr>
                        <td><img src="data:image/png;base64,{{ inventory_item.Image|safe }}" alt="{{ inventory_item.Name }}"></td>
                        <td>{{ inventory_item.Name }}</td>
                        <td>{{ inventory_item.Stock }}</td>
                        <td>{{ inventory_item.NumberNeeded }}</td>
                        <td>{{ inventory_item.OrderChance }}</td>
                        <td>{{ inventory_item.Units }}</td>
                        <td>{{ inventory_item.Category }}</td>
                        <td>{{ inventory_item.Servings }}</td>
                        <td>{{ inventory_item.RestockCost }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
