{% extends "base.html" %}

{% block content %}
    <h1>Employees</h1>
        <table>
            <thead>
                <tr>
                    <th>EmployeeID</th>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Hire Date</th>
                    <th>EmployeePIN</th>
                    <th>Position Title</th>
                    <th>Hours Worked</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in employees %}
                    <tr>
                        <td>{{ employee.EmployeeID }}</td>
                        <td>{{ employee.LastName }}</td>
                        <td>{{ employee.FirstName }}</td>
                        <td>{{ employee.HireDate }}</td>
                        <td>{{ employee.EmployeePIN }}</td>
                        <td>{{ employee.PositionTitle }}</td>
                        <td>{{ employee.HoursWorked }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
