{% extends "base.html" %}

{% block content %}
    <h1>Employees</h1>
        <table>
            <thead>
                <tr>
                    <th>EmployeeID</th>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Hire Date</th>
                    <th>EmployeePIN</th>
                    <th>Position Title</th>
                    <th>Hours Worked</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in employees %}
                    <tr>
                        <td>{{ employee.EmployeeID }}</td>
                        <td>{{ employee.LastName }}</td>
                        <td>{{ employee.FirstName }}</td>
                        <td>{{ employee.HireDate }}</td>
                        <td>{{ employee.EmployeePIN }}</td>
                        <td>{{ employee.PositionTitle }}</td>
                        <td>{{ employee.HoursWorked }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <h1>Menu</h1>
        <table>
            <thead>
                <tr>
                    <th>ItemName</th>
                    <th>Price</th>
                    <th>DefiniteItems</th>
                    <th>PossibleItems</th>
                </tr>
            </thead>
            <tbody>
                {% for menu_item in menu_items %}
                    <tr>
                        <td>{{ menu_item.ItemName }}</td>
                        <td>{{ menu_item.Price }}</td>
                        <td>
                            {% for item in menu_item.DefiniteItems %}
                                {{ item }}{% if not forloop.last %}, {% endif %}
                            {%  endfor %}
                        </td>
                        <td>
                            {% for item in menu_item.PossibleItems %}
                                {{ item }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
