{% extends 'base.html' %}
{% block content %}
    <h2>Edit Inventory Items</h2>

    {% block inventoryItemContent %}
        <h2>Editing {{ inventoryItem.Name }}</h2>
        <form method="POST" action="{% url 'submitInventoryEdit' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Image</td>
                    <td>
                        <label for="image">
                            <img src="data:image/png;base64,{{ inventoryItem.Image|safe }}" alt="{{ inventoryItem.Name }}" width=50px height=50px>
                        </label>
                        <input type="file" name="image" id="image" hidden>
                    </td>
                </tr>
                <tr>
                    <td>Stock</td>
                    <td><input type="number" name="stock" id="stock" placeholder="{{ inventoryItem.Stock }}"></td>
                </tr>
                <tr>
                    <td>Number Needed</td>
                    <td><input type="number" name="numNeeded" id="numNeeded" placeholder="{{ inventoryItem.NumberNeeded }}"></td>
                </tr>
                <tr>
                    <td>Order Chance</td>
                    <td><input type="number" name="orderChance" id="orderChance" placeholder="{{ inventoryItem.OrderChance }}"></td>
                </tr>
                <tr>
                    <td>Units</td>
                    <td><input type="text" name="units" id="units" placeholder="{{ inventoryItem.Units }}"></td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td>
                        <select name="category" id="category">
                            {% for category in categories %}
                                {% if category == inventoryItem.Category %}
                                    <option value="{{ category }}" selected>{{ category }}</option>
                                {% else %}
                                    <option value="{{ category }}">{{ category }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Servings</td>
                    <td><input type="number" name="servings" id="servings" placeholder="{{ inventoryItem.Servings }}"></td>
                </tr>
                <tr>
                    <td>Restock Cost</td>
                    <td><input type="number" name="restockCost" id="restockCost" placeholder="{{ inventoryItem.RestockCost }}"></td>
                </tr>
            </table>
        <button type="submit" name="passedInventoryItem" value="{{ inventoryItem.Name }}">Submit Changes</button>
        <button type="submit" name="deleteInventoryItem" value="{{ inventoryItem.Name }}">Delete Item</button>
        </form>
    {% endblock %}
{% endblock %}