{% extends 'base.html' %}

{% block content %}
    <style>
        select[multiple] option:checked::before {
            content: '\2713';
            margin-right: 5px;
        }
    </style>
    <h2>Editing {{ menu_item.ItemName }}</h2>
    <form method="POST" action="{% url 'submit_menu_edit' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <tr>
                <td>
                    <img src="data:image/png;base64,{{ menu_item.Image|safe }}" alt="{{ menu_item.ItemName }}" width=50px height=50px>
                    <input type="file" name="image" id="image">
                </td>
            </tr>
            <tr>
                <td>
                    {{ menu_item.Price }}
                    <input type="number" name="price" id="price" step="0.01" min="0">
                </td>
            </tr>
            <tr>
                <th>Definite Items</th>
            </tr>
            <tr>
                <td>
                    <table>
                        <thead>
                            <tr>
                                {% for category in categories %}
                                    <th>{{ category }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in sorted_inventory %}
                                <tr>
                                    {% for item_name in row %}
                                        {% if item_name == "" %}
                                            <td></td>
                                        {% else %}
                                            <td>
                                                {% if item_name in menu_item.DefiniteItems %}
                                                    <input type="checkbox" id="{{ menu_item.ItemName }}_{{ item_name }}" name="selected_definite_items" value="{{ item_name }}" checked>
                                                {% else %}
                                                    <input type="checkbox" id="{{ menu_item.ItemName }}_{{ item_name }}" name="selected_definite_items" value="{{ item_name }}">
                                                {% endif %}
                                                <label for="{{ menu_item.ItemName }}_{{ item_name }}">{{ item_name }}</label>
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <th>Possible Items</th>
            </tr>
            <tr>
                <td>
                    <table>
                        <thead>
                            <tr>
                                {% for category in categories %}
                                    <th>{{ category }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in sorted_inventory %}
                                <tr>
                                    {% for item_name in row %}
                                        {% if item_name == "" %}
                                            <td></td>
                                        {% else %}
                                            <td>
                                                {% if item_name in menu_item.PossibleItems %}
                                                    <input type="checkbox" id="{{ menu_item.ItemName }}_{{ item_name }}" name="possible_items_selected" value="{{ item_name }}" checked>
                                                {% else %}
                                                    <input type="checkbox" id="{{ menu_item.ItemName }}_{{ item_name }}" name="possible_items_selected" value="{{ item_name }}">
                                                {% endif %}
                                                <label for="{{ menu_item.ItemName }}_{{ item_name }}">{{ item_name }}</label>
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
        <button type="submit" name="passed_menu_item" value="{{ menu_item.ItemName }}">Submit</button>
    </form>
{% endblock %}