{% extends 'reports.html' %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
</head>
{% block selectedReportContent %}
  <h1 class = "mt-5 text-center">Excess Report</h1>
  <p class = "text-center">Enter a date placed to generate an excess report for that day.</p>
    <form method="POST" action="{% url 'excessReportGeneration' %}">
        {% csrf_token %}
        {# maybe has input #}
        <div class="text-center"><label class= "mx-3" for="startDate">Datetime Placed</label></div>
        <div class="text-center"><input type="datetime-local" id="datePlaced" name="datePlaced"></div>
    <div class="text-center my-3"><button class="btn btn-primary" type="submit">Generate Excess Report</button></div>
    </form>
    {% block excessReportContent %}
        <div class="row justify-content-center">
        <div class="col-auto">
            <table class="table d-block text-center">
                <thead>
                  <tr>
                    <th>Report Results</th>
                  </tr>
                </thead>
            <tbody>
            {% for i in excessReportData %}
                {% if forloop.counter0|divisibleby:"7" %}
                    <tr></tr>
                {% endif %}
                <tc><td>{{ i }}</td></tc>
            {% endfor %}
            </tbody>
            </table>
        </div>
        </div>
    {% endblock %}
{% endblock %}

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-qr+kzX9AdfeZvUDdZn2EuOXiTE1Fj4BvadPhM7NGuPbsUp4L4VvoABRTHC29++pK" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>

