{% extends 'base.html' %}
{% block content %}
    <h2>Edit Inventory Items</h2>
    <a href="{% url 'addInventoryItem' %}">Add Item</a>
    <form method="POST" action="{% url 'editThisInventoryItem' %}">
        {% csrf_token %}
    <table>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Stock</th>
            <th>Number Needed</th>
            <th>Units</th>
        </tr>
    {% for item in inventoryItems %}
        <tr>
            <td><img src="data:image/png;base64,{{ item.Image|safe }}" alt="{{ item.Name }}" width=50px height=50px></td>
            <td>{{ item.Name }}</td>
            <td>{{ item.Stock }}</td>
            <td>{{ item.NumberNeeded }}</td>
            <td>{{ item.Units }}</td>
            <td>
                <button type="submit" name="inventoryItem" value="{{ item.Name }}">Edit/Delete {{ item.Name }}</button>
            </td>
        </tr>
    {% endfor %}
    </table>
    </form>
{% endblock %}