{% extends 'base.html' %}
{% block content %}
    <h2>Edit Inventory Items</h2>
    <form method="POST" action="{% url 'editThisInventoryItem' %}">
        {% csrf_token %}
    <table>
        <tr>
            <th>Name</th>
            <th>Stock</th>
            <th>Number Needed</th>
            <th>Units</th>
        </tr>
    {% for item in menuItems %}
        <tr>
            <td>{{ item.Name }}</td>
            <td>{{ item.Stock }}</td>
            <td>{{ item.NumberNeeded }}</td>
            <td>{{ item.Units }}</td>
            <td>
                <button type="submit" name="inventoryItem" value="{{ item.Name }}">Edit {{ item.Name }}</button>
            </td>
            <td>
                <button type="submit" id="{{ item.Name }}" name="{{ item.Name }}">{{ item.Name }}</button>
            </td>
        </tr>
    {% endfor %}
    </table>
    </form>
{% endblock %}