{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Orders Screen</title>
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    </head>

    <h1>Login</h1>
    {% if error %}
    <p style="color:red">{{ error }}</p>
    {% endif %}
    <form method="POST" enctype="multipart/form-data" action="{% url 'login' %}">
        {% csrf_token %}
        <label for="employee_id">Employee ID:</label>
        <input type="text" id="employee_id" name="employee_id"><br><br>
        <label for="employee_pin">PIN:</label>
        <input type="password" id="employee_pin" name="employee_pin"><br><br>
        <input type="submit" value="Log In">
    </form>


    {% url 'order' as order_view %}
    <a class="btn btn-primary" href="{{ order_view }}" role="button">Orders Testing</a>



    <a href="{{ order_view }}">Go to order(style test) page</a>
    {% url 'menuItems' as menuItems %}
    <a href="{{ menuItems }}">Go to menu items page</a>

    {% url 'reports' as reports %}
    <a href="{{ reports }}">Go to reports page</a>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
            integrity="sha384-qr+kzX9AdfeZvUDdZn2EuOXiTE1Fj4BvadPhM7NGuPbsUp4L4VvoABRTHC29++pK" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
{% endblock %}
