{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>Login</h1>
    {% if error %}
    <p style="color:red">{{ error }}</p>
    {% endif %}
    <form method="POST" enctype="multipart/form-data" action="{% url 'login' %}">
        {% csrf_token %}
        <label for="employee_id">Employee ID:</label>
        <input type="text" id="employee_id" name="employee_id"><br><br>
        <label for="employee_pin">PIN:</label>
        <input type="password" id="employee_pin" name="employee_pin"><br><br>
        <input type="submit" value="Log In">
    </form>
    {% url 'order' as order_view %}
    <a href="{{ order_view }}">Go to target page</a>
{% endblock %}
