{% extends "base.html" %}
{% block content %}
    <ul>
    <form method="post" action="submitOrder">
        {% csrf_token %}
        {% for item in menuTest %}
            <button type="button" name="buttonTesting" value="{{ item.ItemName }} {{ item.Price }}"
            onclick="insertTextInInputValue('testing text');">{{ item.ItemName }} {{ item.Price }}</button>
        {% endfor %}
    <br><br>
        <button type="submit">Submit :P</button>
    </form>
    </ul>
    <div name="addItemToOrder">
        <p>testingggg</p>
        <p>{{ text }}</p>
        <p id="result"></p>
    </div>
{% endblock %}

<script type="text/javascript">
    // var theTotal = 0;
    // $('#1').click(function(){
    // $('#result').val(1);
    // });
    function insertTextInInputValue(buttonValueIs){
        /*
        if (buttonValueIs == "AC")
        {
            $('#ques').text('Ans : 0');
            $('#result').val(0);
        }
        else {
        */
            var inputElementIs = document.getElementById("result");
            inputElementIs.value =  inputElementIs.value + buttonValueIs;
            $('#result').val(inputElementIs.value);
        //}
    }
    // $('#tussenstand').val("Total: "+theTotal);
  </script>
