{% extends 'base.html' %}

{% block content %}
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Menu Board</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
        <style>
            .menu-display{
               width: 33%;
            }

            .card-height{
                height: 25%;
            }

            .pom-card{
                background-color: #d0d1da;
            }
            .pom-text{
                color: #303772;
            }
        </style>

    </head>
    <body>

    <h1 class="text-center pt-3">Menu</h1>

    <div class="container pt-3">
      {% for item in menu %}
          {% if forloop.counter0|divisibleby:3 %}
          <div class="row pt-3  card-height">
          {% endif %}
        <div class="col-md-4">
          <div class="card pom-card">
            <div class="card-body mb-3 text-center">
                <h4 class="card-title pom-text mb-1">{{ item.ItemName }}</h4>
                <img src="data:image/png;base64,{{ item.Image|safe }}" alt="{{ item.ItemName }}" width=100px height=100px>
                <h5 class="card-text pom-text mt-1">${{ item.Price }}</h5>
          </div>
        </div>
      </div>
          {% if forloop.counter|divisibleby:3 or forloop.last %}
          </div>
          {% endif %}
      {% endfor %}
    </div>


{#        <div class="container">#}
{#            <div class="row">#}
{##}
{#            </div>#}
{#        </div>#}
{#        {% for item in menu %}#}
{#            <span class="border border-primary">#}
{#                <p for="{{ item.ItemName }}">{{ item.ItemName }} {{ item.Price }}</p>#}
{#            </span>#}
{#        {% endfor %}#}
{#      <div class="container-fluid">#}
{#        <div class="row">#}
{#                #}
{#        </div>#}
{#      </div>#}


    <script>
    const menuItems = document.querySelectorAll('input[type=radio][name=menu_item_selected]');
        menuItems.forEach(function(menuItem) {
            menuItem.addEventListener('change', function() {
                const menuItemName = this.value;
                const addOnDivs = document.querySelectorAll('[id^="' + menuItemName + '"]');
                addOnDivs.forEach(function(addOnDiv) {
                addOnDiv.style.display = 'inline';
            });
            const otherMenuItems = document.querySelectorAll('input[type=radio][name=menu_item_selected]:not(:checked)');
            otherMenuItems.forEach(function(otherMenuItem) {
                const otherMenuItemName = otherMenuItem.value;
                const otherAddOnDivs = document.querySelectorAll('[id^="' + otherMenuItemName + '"]');
                otherAddOnDivs.forEach(function(otherAddOnDiv) {
                    otherAddOnDiv.style.display = 'none';
                });
            });
        });
    });
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
            integrity="sha384-qr+kzX9AdfeZvUDdZn2EuOXiTE1Fj4BvadPhM7NGuPbsUp4L4VvoABRTHC29++pK" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
</body>
{% endblock %}