{% extends 'base.html' %}

{% block content %}
    <br>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="button_clicked" value="reset">Reset</button>
    </form>
    <br>
    {% for item in menu %}
        <form method="post">
            {% csrf_token %}
            <button type="submit" name="item_clicked" value="{{ item.ItemName }}">{{ item.ItemName }}</button><br>
            {% for category, toppings in item_categories.items %}
                {% for topping in toppings %}
                    {% if topping in item.PossibleItems %}
                        {% if category == "base" %}
                            <input type="radio" id="{{ item.ItemName}} {{ topping }}" name="base_selected" value="{{ topping }}">
                            <label for="{{ item.ItemName }} {{ topping }}">{{ topping }}</label>
                        {% elif category == "protein" %}
                            <input type="radio" id="{{ item.ItemName }} {{ topping }}" name="protein_selected" value="{{ topping }}">
                            <label for="{{ item.ItemName }} {{ topping }}">{{ topping }}</label>
                        {% elif category == "toppings" %}
                            <input type="checkbox" id="{{ item.ItemName }} {{ topping }}" name="toppings_selected" value="{{ topping }}">
                            <label for="{{ item.ItemName }} {{ topping }}">{{ topping }}</label>
                        {% elif category == "sauces" %}
                            <input type="radio" id="{{ item.ItemName }} {{ topping }}" name="sauce_selected" value="{{ topping }}">
                            <label for="{{ item.ItemName }} {{ topping }}">{{ topping }}</label>
                        {% elif category == "drinks" %}
                            <input type="radio" id="{{ item.ItemName }} {{ topping }}" name="drink_selected" value="{{ topping }}">
                            <label for="{{ item.ItemName }} {{ topping }}">{{ topping }}</label>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </form>
    {% endfor %}
    {% if order.CustomizedItems %}
        <h2>Order Items:</h2>
        <ul>
        {% for item in order.CustomizedItems %}
            <li>{{ item.0 }} - ${{ item.1 }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <h1>Subtotal: ${{ order.Subtotal }}</h1>
    <h1>Total: ${{ order.Total }}</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="button_clicked" value="place_order">Place Order</button>
    </form>
{% endblock %}
