{% extends 'base.html' %}

{% block content %}
    <br>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="button_clicked" value="reset">Reset</button>
    </form>
    <br>
    {% for item in menu %}
        <form method="post">
            {% csrf_token %}
            <button type="submit" name="item_clicked" value="{{ item.ItemName }}">{{ item.ItemName }}</button><br>
            {% for topping in item.PossibleItems %}
                <input type="checkbox" id="{{ topping }}" name="topping_clicked" value="{{ topping }}">{{ topping }}
                <label for="{{ topping.ItemName }}">{{ topping.ItemName }}</label>
            {% endfor %}
        </form>
    {% endfor %}
    {% if order.CustomizedItems %}
        <h2>Order Items:</h2>
        <ul>
        {% for item in order.CustomizedItems %}
            <li>{{ item.0 }} - ${{ item.1 }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <h1>Subtotal: ${{ order.Subtotal }}</h1>
    <h1>Total: ${{ order.Total }}</h1>
{% endblock %}
