{% extends 'base.html' %}
{% block content %}
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Orders Screen</title>
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    </head>
{#   for reference #}
{#        JButton salesReportGenerateButton = new JButton("Generate");#}
{#        JButton xReportGenerateButton = new JButton("Generate");#}
{#        JButton zReportGenerateButton = new JButton("Generate");#}
{#        JButton excessGenerateButton = new JButton("Generate");#}
{#        JButton restockGenerateButton = new JButton("Generate");#}
{#        JButton whatSalesTogetherGenerateButton = new JButton("Generate");#}



    <body>

      <div class="container-fluid">
        <div class="row">
          <!-- Sidebar -->
          <div class="col-md-3 bg-light ">

            <h4 class="text-center py-5">Navigate</h4>
            <ul class="nav flex-column gap-3">

                <a class="btn btn-primary btn-block btn-lg p-5" role="button">Order</a>
                <a class="btn btn-primary btn-block btn-lg p-5" href="{% url 'editInventoryItems' %}" role="button">Inventory Items</a>
                <a class="btn btn-primary btn-block btn-lg p-5" href="{% url 'edit_menu_items' %}" role="button">Menu Items</a>
                <a class="btn btn-primary btn-block btn-lg p-5" href="{% url 'reports' %}" role="button">Reports</a>
                <a class="btn btn-primary btn-block btn-lg p-5" href="{% url 'login' %}" role="button">Log Out</a>
            </ul>
          </div>
          <!-- Main Content -->
          <div class="col-md-8 text-center">
            <h4 class="text-center py-5">Reports</h4>
                    <nav>
                        <a class="btn btn-primary py-3 px-3 my-1" href="{% url 'salesReport' %}">Sales Report</a>
                        <a class="btn btn-primary py-3 px-3 my-1" href="{% url 'xReport' %}">X Report</a>
                        <a class="btn btn-primary py-3 px-3 my-1" href="{% url 'zReport' %}">Z Report</a>
                        <a class="btn btn-primary py-3 px-3 my-1" href="{% url 'excessReport' %}">Excess Report</a>
                        <a class="btn btn-primary py-3 px-3 my-1" href="{% url 'restockReport' %}">Restock Report</a>
                        <a class="btn btn-primary py-3 px-3 my-1" href="{% url 'whatSalesTogetherReport' %}">What Sales Together Report</a>
                    </nav>
                    <div id="content">
                      {% block selectedReportContent %}{% endblock %}
                    </div>
          </div>
        </div>
      </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
            integrity="sha384-qr+kzX9AdfeZvUDdZn2EuOXiTE1Fj4BvadPhM7NGuPbsUp4L4VvoABRTHC29++pK" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
</body>
{% endblock %}