{% extends 'reports.html' %}

{% block selectedReportContent %}
  <h1>What Sales Together Report</h1>
  <p>Input start and end times to generate a report of what sells together between those dates</p>
    <form method="POST" action="{% url 'whatSalesTogetherReportGeneration' %}">
        {% csrf_token %}
        {# maybe has input #}
        <label for="startDate">Start DateTime</label>
        <input type="datetime-local" id="startDate" name="startDate">
        <label for="endDate">End DateTime</label>
        <input type="datetime-local" id="endDate" name="endDate">
        <button type="submit">Generate What Sales Together Report</button>
    </form>
    {% block whatSalesTogetherReportContent %}
        {{ whatSalesTogetherReportData }}
    {% endblock %}
{% endblock %}
